html(lang="ru")
	head
		meta(charset="utf-8")
		title 404
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__content
					.page-404
						figure.page-404__number
							img(src="img/404.svg")
						.page-404__text
							p Что-то пошло не так, страница больше не существует.
							p Пожалуйста, перейдите на 
								a(href="#") главную страницу 
								| сайта
		div(style="display: none")
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js")